@font-face {
  font-family: old-english;
  src: url("fonts/old-english-text-mt.ttf");
}
@font-face {
  font-family: standard;
  src: url("fonts/standard.ttf");
}
@font-face {
  font-family: digital-mono;
  src: url("/fonts/digital-7-mono.ttf");
  unicode-range: U+00-B0, U+100-FFFF;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 15px 10px 0px;
  width: 260px;
  background-color: #111;
  font-family: standard;
  color: #eee;
}

a {
  color: #eee;
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
  height: 60px;
  padding: 0 15px 15px 15px;
  border-bottom: 1px solid #999;

  > #riddler-title {
    margin-top: 5px;
    font-family: old-english;
    font-size: 28px;
  }
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  width: 230px;
  text-align: center;

  &:not(:last-of-type) {
    border-bottom: 1px solid #999;
  }
  &#currently-playing {
    text-align: center;
    font-size: 20px;

    > .label {
      font-size: 15px;
      font-style: italic;
      color: #ffe;
    }
    figure {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-weight: bold;

      &#current-riddle {
        width: 170px;
      }
      img#current-icon {
        height: 40px;
        margin-right: 10px;
      }
    }
    #level {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 180px;
      font-size: 0.9em;

      > var.current {
        margin-bottom: 0.15em;
        font-family: digital-mono;
        font-size: 1.2em;
        font-weight: bold;
        font-style: normal;
        letter-spacing: 0.15em;
        text-shadow:
          0 0 0.4em crimson, 0 0 0.8em crimson, 0 0 1.2em crimson;
      }
      > .previous, > .next {
        width: 1em;
        height: 1em;
        border: thin solid rgba(255, 255, 255, 0.5);
        border-radius: 25%;
        line-height: 1em;
        font-size: 1.2em;
        user-select: none;

        &:not(.disabled) {
          cursor: pointer;
          transition: background-color 0.2s, color 0.2s;

          &:hover {
            color: black;
            background-color: white;
          }
        }
        &.disabled {
          color: #666;
        }
      }
    }
    .page-explorer {
      margin: 0.8em auto 0.4em;
      width: 80%;
      height: 180px;
      padding: 0.2em 0.4em;
      border-radius: 0.2em;
      background-color: white;
      overflow: scroll;
      color: black;

      figure.file {
        justify-content: left;
        margin: 0.2em auto;
        width: fit-content;
        padding: 0.1em 0.4em 0.1em 0.3em;
        cursor: pointer;
        user-select: none;

        > img {
          margin-right: 0.15em;
          max-width: 20px;
          max-height: 20px;
        }
        > figcaption {
          font-size: 0.7em;
          font-style: italic;
          color: #555;
        }
        > .file-count {
          margin: 0 0.4em;
          font-size: 0.8em;
          color: #999;
          letter-spacing: -0.02em;
          white-space: nowrap;
        }
        &.active {
          background-color: rgba(128, 64, 0, 0.15);
          border-radius: 0.4em;
        }
      }
    }
  }
  &#buttons {
    height: 50px;
  }
}

button, form {
  width: 230px;
  height: 100%;
}
button {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 10px;
  background-color: #111;
  text-align: left;
  font-family: standard;
  font-style: italic;
  font-size: 20px;
  color: #eee;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;

  > img {
    margin: 0 10px;
    height: 24px;
  }
  &:hover {
    background-color: #eee;
    color: #111;
  }
}
