{% extends 'layout.htm' %}
{% block title %}Cipher | Levels{% endblock %}
{% block extra %}
    <script src="/cipher/scripts/levels.js"></script>
{% endblock %}
{% block content %}
    <main>
      <h1>Levels</h1>
      <section>
        <div class="levels">
          {% set total = 65 %}
        {% for i in range(levels|length) %}
          {% set class = 'level-box' %}
          {% if loop.last %}
            {% set class = 'level-box disabled' %}
          {% endif %}
          <div class="{{ class }}">
            {% set number = 'DCBAS'.find(levels[i]['rank']) + 1 %}
            <figure class="rank">
              {% set points, color = level_ranks[levels[i]['rank']] %}
              <div style="color: {{ color }}; text-shadow: 0 0 0.5em {{ color }}">
              {% for i in range(number) %}
                {% set delay = 0.2 * i %}
                <span style="transition: font-size 0.5s {{ delay }}s, transform 1s {{ delay }}s">★</span>
              {% endfor %}
              </div>
              <figcaption style="color: {{ color }}">{{ levels[i]['rank'] }}-rank ({{ points }} points)</figcaption>
            </figure>
            <a href="/cipher/{{ levels[i]['path'] }}" title="{{ levels[i]['path'] }}" class="thumb">
              <img src="/cipher/{{ levels[i]['image'] }}" alt="{{ levels[i]['id'] }}">
            </a>
            <label>Page explorer
              <select name="pages" multiple>
              {% for path, page in pages[levels[i]['id']] %}
                <option value="{{ path }}" title="/cipher{{ path }}" {{ 'selected' if path[1:] == levels[i]['path'] }}>{{ page|safe }}</option>
              {% endfor %}
              </select>
            </label>
            {% set count = levels[i]['completion_count'] %}
            {% set ratio = '%.2f%%' % (count / total * 100) %}
            <p><var>{{ count }}</var> player(s) (<var>{{ ratio }}</var>) completed<br>
              from a total of <var>{{ total }}</var>.</p>
          </div>
        {% endfor %}
        </div>
      </section>
    {% if secret_levels %}
      <hr>
      <h3>Secret Levels</h3>
      <section class="levels">
      {% for i in range(secret_levels|length) %}
        {% set level = secret_levels[i] %}
        {% set class = 'level-box' %}
        {% if not is_secret_completed(level["id"]) %}
          {% set class = 'level-box disabled' %}
        {% endif %}
        <div class="{{ class }}">
          {% set number = 'DCBAS'.find(level['rank']) + 1 %}
          <figure class="rank">
            {% set points, color = level_ranks[level['rank']] %}
            <div style="color: {{ color }}; text-shadow: 0 0 0.5em {{ color }}">
            {% for i in range(number) %}
              {% set delay = 0.2 * i %}
              <span style="transition: font-size 0.5s {{ delay }}s, transform 1s {{ delay }}s">★</span>
            {% endfor %}
            </div>
            <figcaption style="color: {{ color }}">{{ level['rank'] }}-rank ({{ points }} points)</figcaption>
          </figure>
          <a href="/cipher/{{ level['path'] }}" title="{{ level['path'] }}" class="thumb">
            <img src="/cipher/{{ level['image'] }}" alt="{{ level['id'] }}">
          </a>
          <label>Page explorer
            <select name="pages" multiple>
            {% for path, page in pages[level['id']] %}
              <option value="{{ path }}" title="/cipher{{ path }}" {{ 'selected' if path[1:] == levels[i]['path'] }}>{{ page|safe }}</option>
            {% endfor %}
            </select>
          </label>
          {% set count = level['completion_count'] %}
          {% set ratio = '%.2f%%' % (count / total * 100) %}
          <p><var>{{ count }}</var> player(s) (<var>{{ ratio }}</var>) completed<br>
            from a total of <var>{{ total }}</var>.</p>
        </div>
      {% endfor %}
      </section>
    {% endif %}
    </main>
{% endblock %}
