{% extends 'layout.htm' %}
{% block title %}Riddler | Global leaderboard{% endblock %}
{% block content %}
    <main>
      <h1>Global leaderboard</h1>
      <section class="list players">
        {% set colors = ['goldenrod', 'silver', 'firebrick'] %}
      {% for player in accounts %}
        <div class="row">
          <div class="rank">
            {% if loop.index <= 3 %}
              {% set rank = '🥇🥈🥉'[loop.index - 1] %}
              {% set color = colors[loop.index - 1] %}
              {% set style = 'style="text-shadow: 0 0 8px %(c)s, 0 0 16px %(c)s, 0 0 24px %(c)s"'|safe % {'c': color} %}
            {% else %}
              {% set rank = '#' + loop.index|string %}
            {% endif %}
            <var {{ style }}>{{ rank }}</var>
          </div>
          <div class="player">
            <a href="url_for('account.profile', username=player['username'])">
              <img class="avatar" src="{{ get_avatar_url(player['username'], player['discriminator']) }}">
            </a>
            <div>
              {% set country_name = pycountries.get(alpha_2=player['country']).name %}
              <a class="username" href="url_for('account.profile', username=player['username'])">{{ player['username'] }}</a><!--
           --><a class="country" href="{{ player['country'] }}"><img class="flag" src="/static/flags/{{ player['country'] }}.png" title="{{ country_name }}"></a>
            </div>
          </div>
          <figure class="score">
            {% set score = player['global_score'] %}
            {% set zeroes = '0' * 6 %}
            <var class="points"><var class="zeroes">{{ zeroes }}</var>{{ score }}</var>
            <figcaption>total points</figcaption>
          </figure>
          <div class="riddles-in">
          {% for riddle in player['riddles'] %}
            <a href="{{ url_for('players.riddle_list', alias=riddle['alias']) }}">
              <img class="riddle-icon" src="{{ riddle['icon_url'] }}" title="{{ riddle['full_name'] }}">
            </a>
          {% endfor %}
          </div>
        </div>
      {% endfor %}
      </section>
    </main>
{% endblock %}
