{% extends 'layout.htm' %}
{% block title %}Riddler | All players{% endblock %}
{% block content %}
    <main>
      <h1>All players</h1>
      <section class="list players">
        {% set colors = ['goldenrod', 'silver', 'firebrick'] %}
      {% for player in accounts %}
        <div class="row">
          <div class="rank">
            {% if loop.index <= 3 %}
              {% set rank = '🥇🥈🥉'[loop.index - 1] %}
              {% set color = colors[loop.index - 1] %}
              {% set style = 'style="text-shadow: 0 0 8px %(c)s, 0 0 16px %(c)s, 0 0 24px %(c)s"'|safe % {'c': color} %}
            {% else %}
              {% set rank = '#' + loop.index|string %}
            {% endif %}
            <var {{ style }}>{{ rank }}</var>
          </div>
          <div class="player">
            <img class="avatar" src="{{ get_avatar_url(player['username'], player['discriminator']) }}">
            <div>
              <a class="username" href="url_for('account.profile', username=player['username'])">
                {{ player['username'] }}
              </a>
              <a class="country" href="{{ player['country'] }}">
                {% set country_name = pycountries.get(alpha_2=player['country']).name %}
                <img class="flag" src="/static/flags/{{ player['country'] }}.png" title="{{ country_name }}">
              </a>
            </div>
          </div>
          <div class="score">
            <figure>
              <var class="points">{{ player['global_score'] }}</var>
              <figcaption>total points</figcaption>
            </figure>
          </div>
          <div class="riddles-in">
          {% for riddle in player['riddles'] %}
            <a href="{{ url_for('players.riddle_list', alias=riddle['alias']) }}">
              <img class="riddle-icon" src="{{ riddle['icon_url'] }}" title="{{ riddle['full_name'] }}">
            </a>
          {% endfor %}
          </div>
        </div>
      {% endfor %}
      </section>
    </main>
{% endblock %}
