{% extends 'layout.htm' %}
{% block title %}Riddler | All players{% endblock %}
{% block content %}
    <main>
      <h1>All players</h1>
      <table>
        <thead>
          <tr>
            <th>Country</th>
            <th>Player</th>
            <th>Global points</th>
            <th>Riddles played</th>
          </tr>
        </thead>
        <tbody>
        {% for player in accounts %}
          <tr>
            <td>
              <a href="{{ player['country'] }}">
                {% set country_name = pycountries.get(alpha_2=player['country']).name %}
                <img src="/static/flags/{{ player['country'] }}.png" title="{{ country_name }}" class="flag_small">
              </a>
            </td>
            <td class="username_cell">
              <img class="avatar-small" src="{{ player['avatar_url'] }}">
              <a href="url_for('account.profile', username=player['username'])">
                {{ player['username'] }}#{{ player['discriminator'] }}
              </a>
            </td>
            <td>
              <var class="points">{{ player['global_score'] }}</var>
            </td>
            <td>
            {% for riddle in player['riddles'] %}
              <img class="avatar-small" src="{{ riddle['icon_url'] }}" title="{{ riddle['alias'] }}">
            {% endfor %}
            </td>
          </tr>
        {% endfor %}
        <tbody>
      </table>
    </main>
{% endblock %}
