{% extends 'layout.htm' %}
{% block title %}About Riddler{% endblock %}
{% block content %}
    <main>
      <h1>About</h1>
      <p class='riddler-synopsis'>
        <strong>Riddler</strong> is a three-sided application consisting of<br>
        <em>browser extension</em>, <em>website</em> and <em>Discord bot</em>.
      </p>
      <hr>
      <h2>How does it work?</h2>
      <ol>
        <li>Riddle masters add their levels and paths to the server's database;</li>
        <li>You install the extension for your favorite browser;</li>
        <li>You log in to the system using Discord credentials (no need for emails or awkwardly uploading avatars);</li>
        <li>Progress is saved on every new level and page visited, <em>without the need of bookmarks</em>;</li>
        <li>Help channels are unlocked on the Discord guilds whenever a new one is found;</li>
        <li>Points are awarded on level beat or achievement found <em>(yes, there are achievements!)</em>;</li>
        <li>You end up competing in <em>leaderboards</em>, meeting new people and being part of a whole new riddle-solving ecosystem.</li>
      </ol>

      

    </main>
{% endblock %}