{% extends 'layout.htm' %}
{% block title %}About Riddler{% endblock %}
{% block content %}
    <main>
      <h1>About</h1>
      <p class='riddler-synopsis'>
        <strong>Riddler</strong> is a three-sided application consisting of<br>
        <em>browser extension</em>, <em>website</em> and <em>Discord bot</em>.
      </p>
      <hr>
      <h2>How does it work?</h2>
      <ol>
        <li>Riddle masters add their levels, pages and achievements (!) to Riddler's system;</li>
        <li>You install the extension for your favorite browser;</li>
        <li>You log in to the system using Discord credentials (no need for emails or awkwardly uploading avatars);</li>
        <li>Progress is saved on every new level and page visited, <em>without the need of bookmarks</em>;</li>
        <li>Help channels are unlocked on the Discord guilds whenever a new level is found;</li>
        <li>Points are awarded on solving levels and unlocking achievements <em>(yes, there are achievements!)</em>;</li>
        <li>You end up competing in <em>leaderboards</em>, meeting new people and being part of a whole new riddle-solving ecosystem.</li>
      </ol>
      <hr>
      <h2>How to use the extension/system?</h2>
      <ol>
        <li>
          First of all, install the extension officially for your favorite web browser:
          <nav class="extension-links">
            <a href="https://addons.mozilla.org/pt-BR/firefox/addon/emoon-riddler/" target="_blank">
              <figure>
                <img src="/static/extra/firefox-logo.png" alt="Firefox logo" width="80" height="80">
                <figcaption>Firefox</figcaption>
              </figure>
            </a>
            <a href="https://chrome.google.com/webstore/detail/riddler/pipfgmnooemfjelejnboacpkgodhbddh" target="_blank">
              <figure>
                <img src="/static/extra/chrome-logo.png" alt="Chrome logo" width="80" height="80">
                <figcaption>Chrome</figcaption>
              </figure>
            </a>
          </div>
        </li>
        <li>
          Once installed, open the popup menu and click the <strong>Update hosts</strong> button:
          <figure>
            <img src="/static/extra/update-hosts.png" alt="Update hosts">
          </figure>
        </li>
        <li>
          Allow and grant permissions for the current riddle domains on Riddler (must be re-done whenever a new one is added if you want to play it!):
          <figure>
            <img src="/static/extra/grant-permissions.png" alt="Grant permissions">
          </figure>
        </li>
        <li>
          Open the login page by either clicking the button on navbar or going to a riddle page;
        </li>
        <li>
          Authorize Riddler's application using your Discord credentials (by creating a Discord account first if you don't have one):
          <figure>
            <img src="/static/extra/authorize-riddler.png" alt="Authorize Riddler">
          </figure>
        </li>
        <li>
          Select your country from the list and click the <strong>Create account</strong> button:
          <figure>
            <img src="/static/extra/select-country.png" alt="Select country">
          </figure>
        </li>
        <li>
          And that's it, your account is created! Now just start playing your favorite riddle from the start and enjoy all goodnesses Riddler has to offer.
          <figure>
            <img src="/static/icons/riddler-icon.png" alt="Riddler head">
          </figure>
        </li>
      </ol>

    </main>
{% endblock %}