{% extends 'layout.htm' %}
{% block title %}Home | Riddler{% endblock %}
{% block content %}
    <main>
      <h1 class="riddler-title">Riddler</h1>
      <p class='riddler-synopsis'>
        Serving <var>{{ riddle_count }}</var> riddles, <var>{{ level_count }}</var> levels, <var>{{ page_count }}</var> pages<br>
        and <var>{{ player_count }}</var> players since 2021. <a href="/about">Learn more</a>.
      </p>
      <hr>
      <h3>Recent progress</h3>
      <section class="list players recent-progress">
        {% set avatar_urls = fetch_avatar_urls() %}
        {% set riddles = fetch_riddles() %}
      {% for player in recent_completion %}
        <div class="row">
          <div class="completion-time">
            {{ player['completion_time'] }}
          </div>
          <div class="status">
            <a class="player">
              {% set tag = player['username'] + '#' + player['discriminator'] %}
              {% set url = avatar_urls[tag] if tag in avatar_urls else '/static/images/locked.png' %}
              <img class="avatar" src="{{ url }}">
              {{ player['username'] }}
            </a>
            <div>
              <!-- {% set country_name = country_names[player['country']] %} -->
              {% set riddle = riddles[player['riddle']] %}
              {% set icon_url = riddle['icon_url'] %}
              completed level <var>{{ player['level_name'] }}</var> in <a class="riddle" href="{{ riddle['front_page'] }}" target="_blank">{{ riddle['full_name'] }}</a>.
            </div>
          </div>
        </div>
      {% endfor %}
      </section>
    </main>
{% endblock %}
