<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Meet Riddler, the definitive way of playing (and enhancing the experience of) your favorite browser-based riddles. Automatic progress tracking, achievements, helpful tools, and much more.">
    <meta name="author" content="emoon">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="/static/icons/letter-r-icon.png">
    <link rel="fluid-icon" href="/static/icons/letter-r-icon.png" title="Riddler">

    <!-- Less CSS -->
    <link rel="stylesheet/less" type="text/css" href="/static/style.less">
    <script src="//cdn.jsdelivr.net/npm/less@3.13" ></script>

    <!-- jQuery from Google CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    {% block extra %}{% endblock %}
  </head>
  <body>
  {% if not no_navbar %}
    {% include 'navbar.htm' %}
  {% endif %}
    {% block content %}{% endblock %}
  </body>
</html>

