    <header>
      <nav>
        <a class="title" href="/" title="Homepage">
          Riddler
        </a>
        <nav class="dropdown">
          <button class="nav-button">⋮</button>
          {% set riddles = get_riddles() %}
          <div class="menu riddles">
          {% for riddle in riddles %}
            {% set riddle = get_riddle(riddle['alias']) %}
            {% set page = 'players.riddle_list' %}
            <a href="{{ url_for(page, alias=riddle['alias']) }}" class="riddle">
              <figure>
                <img class="riddle-icon" src="{{ riddle['icon_url'] }}">
                <figcaption>{{ riddle['alias']|title }}</figcaption>
              </figure>
            </a>
          {% endfor %}
          </div>
        </nav>
    {% if alias %}
      {# Riddle pages #}
      {% set riddle = get_riddle(alias) %}
      {% if riddle %}
        <nav class="dropdown">
          <button class="nav-button riddle-banner">
            <img class="riddle-icon" src="{{ riddle['icon_url'] }}">
            <div class="name">{{ riddle['full_name'] }}</div>
            <div class="arrow">▼</div>
          </button>
          <div class="menu">
            <a href="{{ url_for('levels.level_list', alias=alias) }}" class="nav-button">Level explorer</a>
            <a href="{{ url_for('players.riddle_list', alias=alias) }}" class="nav-button">Leaderboard</a>
            <a href="{{ url_for('countries.riddle_list', alias=alias) }}" class="nav-button">Countries leaderboard</a>
            <a href="{{ riddle['front_page'] }}" class="nav-button" target="_blank">
              <img class="icon" src="/static/icons/external-link.png">
              Front page
            </a>
          {% if riddle['invite_code'] %}
            <a href="https://discord.gg/{{ riddle['invite_code'] }}" class="nav-button">
              <img class="icon" src="/static/icons/discord.png">
              Discord guild
            </a>
          {% endif %}
          {% if is_admin_of(alias) %}
            <a href="{{ url_for('admin_levels.manage_levels', alias=alias) }}" class="nav-button">
              <img class="icon" src="/static/icons/padlock.png">
              Manage levels
            </a>
            <a href="{{ url_for('admin_cheevos.manage_cheevos', alias=alias) }}" class="nav-button">
              <img class="icon" src="/static/icons/padlock.png">
              Manage cheevos
            </a>
          {% endif %}
          </div>
        </nav>
      {% endif %}
    {% else %}
        <div class="blank"></div>
    {% endif %}
        <nav class="dropdown">
          <button class="nav-button burger">≡</button>
          <div class="menu">
            <a href="{{ url_for('players.global_list') }}" class="nav-button">All players</a>
            <a href="{{ url_for('countries.global_list') }}" class="nav-button">Countries</a>
            <a href="{{ url_for('info.info_page', page='about') }}" class="nav-button">About / Help</a>
            <a href="https://discord.gg/ktaPPtnPSn" class="nav-button" target="_blank">
              <img class="icon" src="/static/icons/discord.png">Wonderland II
            </a>
          <!--
            <a href="https://ko-fi.com/emoon" class="nav-button" target="_blank">
              <img class="icon" src="/static/icons/ko-fi.png">Donate
            </a>
          -->
            <a href="{{ url_for('info.info_page', page='terms-and-conditions') }}" class="nav-button">Terms & Conditions</a>
            <a href="{{ url_for('info.info_page', page='privacy-policy') }}" class="nav-button">Privacy Policy</a>
          </div>
        </nav>
      {% if not is_authorized() %}
        <a class="nav-button" href="{{ url_for('players_auth.login', redirect_url=(request.url)) }}">Login</a>
      {% else %}
        {% set user = get_session_user() %}
        <nav class="dropdown">
          {% set avatar = '' %}
          <button class="nav-button profile">
            <img class="avatar-small" src="{{ get_avatar_url(user.username) }}">{{ user.username }}
          </button>
          <div class="menu">
            <!--<a href="#" class="nav-button">Public info</a>-->
            <a href="{{ url_for('account.settings') }}" class="nav-button">Settings</a>
            <a href="{{ url_for('players_auth.logout', redirect_url=(request.url)) }}" class="nav-button">Logout</a>
          </div>
        </nav>
      {% endif %}
      </nav>
    </header>
