{% macro riddle_card(_alias) %}
  {% set riddle = get_riddle(_alias) %}
  {% set url = '/' ~ _alias %}
  {% set current_url = url_for(request.endpoint, **request.view_args) %}
  {% if alias %}
    {% if not current_url.startswith('/admin') or is_admin_of(_alias) %}
      {% set url = current_url.replace(alias, _alias, 1) %}
    {% endif %}
  {% endif %}
  <a href="{{ url }}" class="riddle">
    <figure>
      {% include 'util/riddle-icon.htm' %}
      <figcaption>{{ riddle['short_name'] }}</figcaption>
    </figure>
  </a>
{% endmacro %}    
    <header>
      <nav>
        <a class="title" href="/">
          Riddler
        </a>
        <nav class="dropdown">
          <button class="nav-button riddles">⋮</button>
          {% set riddles = get_riddles(unlisted) %}
          <div class="menu">
            <div class="riddles">
            {% for riddle in riddles if not riddle['demo'] %}
              {{ riddle_card(riddle['alias']) }}
            {% endfor %}
            </div>
            <hr>
            <div class="riddles demo">
            {% for riddle in riddles if riddle['demo'] %}
              {{ riddle_card(riddle['alias']) }}
            {% endfor %}
            </div>
            <hr>
            <a href="/riddles">Browse full riddle catalog ↗</a>
          </div>
        </nav>
    {% if alias %}
      {# Riddle pages #}
      {% set riddle = get_riddle(alias) %}
      {% if riddle %}
        <nav class="dropdown">
          <button class="nav-button riddle-banner">
            {% include 'util/riddle-icon.htm' %}
            <div class="name">{{ riddle['full_name'] }}</div>
            <div class="arrow">▼</div>
          </button>
          <div class="menu">
            <a href="{{ riddle['front_page'] }}" class="nav-button" target="_blank" rel="noreferrer">
              Front page
              <img class="icon" src="/static/icons/external-link.png" height="32">
            </a>
            <a href="{{ url_for('players.riddle_list', alias=alias) }}" class="nav-button">Leaderboard</a>
            <a href="{{ url_for('levels.level_list', alias=alias) }}" class="nav-button">📂 Level explorer</a>
            <a href="{{ url_for('page_catalog.catalog', alias=alias) }}" class="nav-button">📖 Page catalog</a>
          {% if riddle['invite_code'] %}
            <a href="https://discord.gg/{{ riddle['invite_code'] }}" class="nav-button" target="_blank">
              <img class="icon" src="/static/icons/discord.png">
              Discord server
            </a>
          {% endif %}
          {% if riddle['nordinho_link'] %}
            <a href="{{ riddle['nordinho_link'] }}" class="nav-button" target="_blank">
              <img class="icon" src="/static/icons/nordinho.png">
              Nordinho thread
              <img class="icon" src="/static/icons/external-link.png" height="32">
            </a>
          {% endif %}
          {% if is_admin_of(alias) %}
            <a href="{{ url_for('admin_levels.manage_levels', alias=alias) }}" class="nav-button">
              <img class="icon" src="/static/icons/padlock.png">
              Manage levels
            </a>
            <a href="{{ url_for('admin_cheevos.manage_cheevos', alias=alias) }}" class="nav-button">
              <img class="icon" src="/static/icons/padlock.png">
              Manage cheevos
            </a>
            <a href="{{ url_for('admin_health.health_diagnostics', alias=alias) }}" class="nav-button">
              <span class="icon">⛑️</span> Health diagnostics
            </a>
          {% endif %}
          </div>
        </nav>
      {% endif %}
    {% else %}
        <div class="blank"></div>
    {% endif %}
        <nav class="dropdown">
          <button class="nav-button burger">≡</button>
          <div class="menu">
            <a href="/players" class="nav-button">Global Leaderboard</a>
            <a href="/countries" class="nav-button">Countries</a>            
            <a href="https://discord.gg/ktaPPtnPSn" class="nav-button" target="_blank">
              <img class="icon" src="/static/icons/discord.png">Wonderland II
            </a>
          <!--
            <a href="https://ko-fi.com/emoon" class="nav-button" target="_blank">
              <img class="icon" src="/static/icons/ko-fi.png">Donate
            </a>
          -->
            <a href="/about" class="nav-button">About</a>
            <a href="/faq" class="nav-button">F.A.Q.</a>
            <a href="/privacy-policy" class="nav-button">Privacy Policy</a>
            <a href="/terms-and-conditions" class="nav-button">Terms & Conditions</a>
          </div>
        </nav>
        {% set user = get_session_user() %}
      {% if not user %}
        <a class="nav-button" href="{{ url_for('players_auth.login', redirect_url=(request.url)) }}">Log in</a>
      {% else %}
        {% set user = get_session_user() %}
        <nav class="dropdown">
          {% set avatar = '' %}
          <button class="nav-button profile">
            <figure style="position: relative; display: inline-block;">
              <img class="avatar-small" src="{{ get_avatar_url(discord_id=user.id) }}" alt="Avatar">
            {% if is_user_incognito() %}
              <img class="incognito" src="/static/icons/incognito.png" alt="Incognito" title="Incognito enabled">
            {% endif %}
            </figure>
            {{ user.display_name }}
          </button>
          <div class="menu">
            {% set redirect_url = request.url if '/admin' not in request.url else '/' %}
            <!--<a href="#" class="nav-button">Public info</a>-->
            <a href="{{ url_for('account.settings') }}" class="nav-button">Settings</a>
            <a href="{{ url_for('players_auth.logout', redirect_url=(redirect_url)) }}" class="nav-button">Log out</a>
          </div>
        </nav>
      {% endif %}
      </nav>
    </header>
