{% extends 'layout.htm' %}
{% block title %}All riddles ⬩ Riddler{% endblock %}
{% block content %}
    <main>
      {% set riddles = get_riddles(unlisted=True) %}
      {% set statuses = {
        '🎖️': 'Full',
        '🚧': 'Update in Progress',
        '🧪': 'Demo',
      } %}
      {% set total = namespace(
        riddles_released=0,
        riddles_demo=0,
        players=get_accounts().values()|selectattr('global_score')|list|length,
        levels=0,
        pages=0,
        raw_pages=0,
      ) %}
      <h1>All riddles</h1>
      <table>
        <thead>
          <tr>
            <th>Status</th>
            <th>Riddle</th>
            <th>Players</th>
            <th>Levels</th>
            <th>Pages</th>
            <th>Links</th>
          </tr>
        </thead>
        <tbody>
        {% for riddle in riddles|sort(attribute="full_name") %}
          <tr>
            <td>
            {%- if riddle['status'] -%}
              <span title="{{ statuses[riddle['status']] }}" style="border-bottom: 1px dotted #ffd8;">{{ riddle['status'] }}</span>
              {%- if riddle['status'] in ['🎖️', '🚧'] -%}
                {%- set total.riddles_released = total.riddles_released + 1 -%}
              {%- elif riddle['status'] == '🧪' -%}
                {%- set total.riddles_demo = total.riddles_demo + 1 -%}
              {%- endif -%}
            {%- endif -%}
            </td>
            <td style="text-align: left;">
              <a
                href="{{ riddle['alias'] if riddle['level_count'] else '#' }}"
                style="display: inline-flex; align-items: center; gap: .8em; vertical-align: middle;"
              >
                {% set src = '/static/riddles/' ~ riddle['alias'] ~ '.png' %}
              {% if file_exists(src) %}
                <img class="riddle-icon" src="{{ src }}" width="35">
              {% else %}
                <div style="display: inline-block; width: 35px; height: 35px;"></div>
              {% endif %}
                {{ riddle['full_name'] }}
              </a>
            </td>
            <td>
              <var class="player-count">
              {% if riddle['player_count'] %}
                {{ riddle['player_count'] }}<span class="bg-emoji">👤</span>
              {% else %}
                <span style="opacity: .3;">--</span>
              {% endif %}
              </var>
            </td>
            <td>
              <var class="level-count">
              {% if riddle['level_count'] %}
                {{ riddle['level_count'] }}<span class="bg-emoji">🧩</span>
                {% set total.levels = total.levels + riddle['level_count'] %}
              {% else %}
                <span style="opacity: .3;">--</span>
              {% endif %}
              </var>
            </td>
            <td>
              {% if riddle['page_count'] %}
                {% set page_count = riddle['page_count'] %}
                {% set class = 'page-count' %}
              {% else %}
                {% set page_count = '(' ~ riddle['raw_page_count'] ~ ')' %}
                {% set class = 'raw-page-count' %}
              {% endif %}
              <var class="{{ class }}">
              {% if riddle['raw_page_count'] %}
                {{ page_count }}<span class="bg-emoji">📄</span>
                {% set total.pages = total.pages + riddle['page_count'] %}
                {% set total.raw_pages = total.raw_pages + riddle['raw_page_count'] %}
              {% else %}
                <span style="opacity: .3;">--</span>
              {% endif %}
              </var>
            </td>
            <td>
              <div class="external-links">
                <a href="{{ riddle['front_page'] }}" title="Visit riddle's website" target="_blank" rel="noreferrer"><img src="/static/icons/external-link.png" width="30"></a>
              {% if riddle['invite_code'] %}
                <a href="https://discord.gg/{{ riddle['invite_code'] }}" title="Discord invite" target="_blank"><img src="/static/icons/discord.png" width="30"></a>
              {% endif %}
              {% if riddle['nordinho_link'] %}
                <a href="{{ riddle['nordinho_link'] }}" title="Nordinho thread" target="_blank"><img src="/static/icons/nordinho.png" width="30"></a>
              {% endif %}
              </div>
            </td>
          </tr>
        {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td style="font-weight: bold;">Total</td>
            <td>
              <figure>
                <var class="riddle-count">{{ riddles|length }}</var>
                <figcaption>riddles<br>(<code>{{ total.riddles_released }}</code> released, <code>{{ total.riddles_demo }}</code> demo)</figcaption>
              </figure>
            </td>
            <td>
              <figure>
                <var class="player-count">{{ total.players }}</var>
                <figcaption>players</figcaption>
              </figure>
            </td>
            <td>
              <figure>
                <var class="level-count">{{ total.levels }}</var>
                <figcaption>levels</figcaption>
              </figure>
            </td>
            <td>
              <figure>
                <var class="page-count">{{ total.pages }}</var>
                <var class="raw-page-count">({{ total.raw_pages }})</var>
                <figcaption>pages</figcaption>
              </figure>
            </td>
            <td></td>
          </tr>
        </tfoot>
      </table>
    </main>
{% endblock %}
