{% extends 'layout.htm' %}
{% block title %}About Riddler{% endblock %}
{% block content %}
    <main>
      <h1>About</h1>
      <p class='riddler-synopsis'>
        <strong>Riddler</strong> is a three-sided application consisting of<br>
        <em>browser extension</em>, <em>website</em> and <em>Discord bot</em>.
      </p>
      <hr>
      <h2>How does it work?</h2>
      <ol>
        <li>Riddle masters add their levels, pages and achievements to Riddler's system;</li>
        <li>You install the extension for your favorite browser;</li>
        <li>You log in to the system using Discord credentials (no need for emails or awkwardly uploading avatars);</li>
        <li>Progress is saved on every new level and page visited, <em>without the need of bookmarks</em>;</li>
        <li>Help channels are unlocked on Discord guilds whenever a new level is found;</li>
        <li>Points are awarded on solving levels and unlocking achievements <em>(yes, there are achievements!)</em>;</li>
        <li>You end up competing in <em>leaderboards</em>, meeting new people and being part of a whole new riddle-solving ecosystem.</li>
      </ol>
      <hr>
      <h2>How to use the extension/system?</h2>
      <ol>
        <li>
          First of all, install the extension officially for your favorite web browser:
          <nav class="extension-links">
            <a href="https://addons.mozilla.org/pt-BR/firefox/addon/emoon-riddler/" target="_blank">
              <figure>
                <img src="/static/extra/firefox-logo.png" alt="Firefox logo" width="80" height="80">
                <figcaption>Firefox</figcaption>
              </figure>
            </a>
            <a href="https://chrome.google.com/webstore/detail/riddler/pipfgmnooemfjelejnboacpkgodhbddh" target="_blank">
              <figure>
                <img src="/static/extra/chrome-logo.png" alt="Chrome logo" width="80" height="80">
                <figcaption>Chrome</figcaption>
              </figure>
            </a>
          </nav>
        </li>
        <li>
          Once installed, open the popup menu and click the <strong>Update hosts</strong> button:
          <figure>
            <img src="/static/extra/update-hosts.png" alt="Update hosts">
          </figure>
        </li>
        <li>
          Allow and grant permissions for the current riddle domains on Riddler (must be re-done whenever a new one is added if you want to play it!):
          <figure>
            <img src="/static/extra/grant-permissions.png" alt="Grant permissions">
          </figure>
        </li>
        <li>
          Open the login page by either clicking the button on navbar or going to a riddle page;
        </li>
        <li>
          Authorize Riddler's application using your Discord credentials (by creating a Discord account first if you don't have one):
          <figure>
            <img src="/static/extra/authorize-riddler.png" alt="Authorize Riddler">
          </figure>
        </li>
        <li>
          Select your country among the listed ones and click the <strong>Create account</strong> button:
          <figure>
            <img src="/static/extra/select-country.png" alt="Select country">
          </figure>
        </li>
        <li>
          Your account is now created! Lastly, keep in mind that you <em>need</em> to be a member of the <a href="https://discord.gg/ktaPPtnPSn">Wonderland Discord guild</a> to actually progress. If that's not the case, the invite dialog will pop up whenever you visit a riddle page – just click the invite button to join it and you're free to go.
          <figure>
            <img src="/static/extra/wonderland-invite.png" alt="Wonderland invite">
          </figure>
        </li>
        <li>
          Be sure to also join the individual riddle guilds if you want to – an invite tab should appear whenever you start a new riddle. There you'll be able to unlock level help channels, chat with the community, read creator announcements and much more!
          <figure>
            <img src="/static/extra/zed-level-channel.jpg" alt="Wonderland invite">
          </figure>
        </li>
        <li>
          And that's it! Now gol play your favorite riddles and enjoy all goodnesses Riddler has to offer.
          <figure>
            <img src="/static/icons/riddler-icon.png" alt="Riddler head">
          </figure>
        </li>
        </li>
      </ol>
    </main>
{% endblock %}