{% extends 'layout.htm' %}
{% block title %}About ⬩ Riddler{% endblock %}
{% block content %}
    <main>
      <h1>About</h1>
      <p class='riddler-synopsis'>
        <strong style="font-family: old-english">Riddler</strong> is a three-sided application consisting of<br>
        <em>browser extension</em>, <em>website</em> and <em>Discord bot</em>.
      </p>
      <hr>
      <h2>How does it work?</h2>
      <ol id="how-it-works">
        <li>You install the extension for your favorite browser;</li>
        <li>You log in to the system using Discord credentials (no need for emails or awkwardly uploading avatars);</li>
        <li>Progress is saved on every new level and page visited, <em>without the need for bookmarks</em>;</li>
        <li>Points are awarded upon solving levels and unlocking <em><a href="/static/extra/achievements-ui.webm" target="_blank">achievements</a></em>;</li>
        <li>You end up competing in <em>leaderboards</em>, meeting new people and being part of a whole riddle-solving ecosystem.</li>
      </ol>
      <hr>
      <h2>How to use the extension/system?</h2>
      <ol id="installation-and-usage">
        <li>
          First of all, install the extension officially for your favorite web browser:
          <nav class="extension-links">
            <a style="opacity: .2;" href="https://addons.mozilla.org/firefox/addon/riddler-app/" target="_blank">
              <figure class="browsers">
                <img src="/static/extra/firefox-logo.png" alt="Firefox logo" width="80" height="80">
                <figcaption>Firefox</figcaption>
              </figure>
            </a>
            <a href="https://chrome.google.com/webstore/detail/riddler/pipfgmnooemfjelejnboacpkgodhbddh" target="_blank">
              <figure class="browsers">
                <img src="/static/extra/chrome-logo.png" alt="Chrome logo" width="80" height="80">
                <img src="/static/extra/edge-logo.png" alt="Edge logo" width="80" height="80">
                <img src="/static/extra/opera-logo.png" alt="Opera logo" width="80" height="80">
                <figcaption>Chrome, Edge, Opera etc</figcaption>
              </figure>
            </a>
          </nav>
        </li>
        <li>
          Open the login page, be it by extension button, navbar button, or by clicking <a href="/login" target="_blank">here</a>.
          <figure>
            <img src="/static/extra/extension-login.png" alt="Extension Login">
          </figure>
        </li>
        <li>
          Authorize Riddler's application using your Discord credentials (by creating a Discord account first if you don't have one):
          <figure>
            <img src="/static/extra/authorize-riddler.png" alt="Authorize Riddler">
          </figure>

        </li>
        <li>
          Select your country among the listed ones and click the <strong>Create account</strong> button:
          <figure>
            <img src="/static/extra/select-country.png" alt="Select country">
          </figure>
        </li>
        <li id="wonderland-invite">
          Your account is now created. <em>PSA</em>: You need to be part of at least one Discord server the bot <em>is in</em> to enable it to interact with you; and vice-versa. Be sure to join <a href="https://discord.gg/ktaPPtnPSn" target="_blank">Riddler's Wonderland II</a> for up-to-date Riddler announcements, updates and discussion.
          <figure>
            <img src="/static/extra/wonderland-invite.png" alt="Wonderland invite">
          </figure>
        </li>
        <li>
          And that's it! Now go play your favorite riddles and enjoy all the goodnesses Riddler has to offer.
          <figure>
            <img src="/static/extra/extension-menu.png" alt="Extension menu">
          </figure>
        </li>
      </ol>
    </main>
{% endblock %}