{% extends 'layout.htm' %}
{% block title %}F.A.Q. ⬩ Riddler{% endblock %}
{% block content %}
    <main>
      <h1>F.A.Q.</h1>

      <h4 id="the-extension-is-stuck-or-doesn-t-seem-to-be-working-">The extension is stuck or doesn&#39;t seem to be working.</h4>
      <ol>
      <li>Make sure you&#39;re indeed <a href="/login?redirect_url=/faq">logged in</a>;</li>
      <li>Make sure you&#39;re running the latest extension&#39;s version (as shown <a href="https://chromewebstore.google.com/detail/riddler/pipfgmnooemfjelejnboacpkgodhbddh">here</a>);</li>
      <li>Visit (or reload) an actual level page;</li>
      <li>If somehow the extension&#39;s menu is still stuck/broken, then usually just closing the browser and opening it again does the trick.</li>
      </ol>
      <h4 id="i-had-progress-in-some-riddle-s-before-i-started-using-r-do-i-need-to-retrace-my-steps-from-level-1-">I had progress in some riddle(s) before I started using <span style="font-family: old-english;">R</span>. Do I need to retrace my steps from level 1?</h4>
      <p>Thankfully, you don&#39;t. It used to be that way in the past; however, starting from circa version 0.5, you can now <em>unlock</em> any level at any time, and <em>solve any unlocked level</em> at any time. This is supposed to give players more flexibility, as everyone has their own goals and pace.</p>
      <p>You won&#39;t, of course:</p>
      <ul>
      <li>get points for any of the previous unsolved levels;</li>
      <li>be able to have a riddle/set marked as <code>completed</code> until solving all of the (obligatory) levels up to and including the final one (if any).</li>
      </ul>
      <h4 id="do-i-keep-track-of-my-progress-when-changing-browsers-pcs-">Do I keep track of my progress when changing browsers/PCs?</h4>
      <p>Absolutely. All your user data is safely stored in our databases on <a href="[https://riddler.app">https://riddler.app</a>. That goes for your unlocked/solved levels, recorded pages, credentials, achievements, and even the last riddle &amp; level you visited. No local data is saved in your browser except for cache stuff.</p>
      <p>If you <em>do need</em> a backup of your progress, don&#39;t forget to export your account data through the <a href="https://riddler.app/settings">settings page</a>.</p>
      <hr>
      <h2 id="credentials">Credentials</h2>
      <p>For info about the workings and rationale behind <span style="font-family: old-english;">R</span>&#39;s custom credentials box, please refer to <a href="https://riddler.app/privacy-policy#riddle-credentials">this section of the privacy policy</a>.</p>
      <h4 id="i-am-not-able-to-record-progress-for-a-password-protected-page-">I am not able to record progress for a password-protected page.</h4>
      <p>Almost certainly, you haven&#39;t recorded the <em>credentials</em> for that specific folder/path yet. This usually happens post-extension install when you&#39;re navigating with previous session/cache data. To amend it:</p>
      <ul>
      <li>Press <code>Ctrl+F5</code> to trigger a hard-refresh (close/open browser if it doesn&#39;t work at first). This should bring the credentials box, and then you can just input the correct username/password as usual;</li>
      <li>If all else fails, directly embedding the credentials into the URL (<code style="word-break: break-all;">https://<strong>user:pass@</strong>riddledomain.com/folder/page.htm</code>) also works.</li>
      </ul>
      <h4 id="the-password-field-is-explicitly-showing-the-password-without-the-">The password field is explicitly showing the password without the ●●●●●.</h4>
      <p>That&#39;s intentional. Folder-specific credentials contain no sensitive info; so there&#39;s no point in hiding it either. Using a <code>type=&quot;password&quot;</code> input field makes the user too prone to commit spelling mistakes (an extra letter, a wrong one, etc), which tends to happen all the time. Therefore, the plain <code>type=&quot;text&quot;</code> password is, riddle-wise, also an improvement over the native browser box UI.</p>
      <hr>
      <h2 id="bot">Bot</h2>
      <h4 id="the-bot-isn-t-sending-me-dms-on-level-solve-achievement-unlock-">The bot isn&#39;t sending me DMs on level solve / achievement unlock.</h4>
      <p>Due to the way Discord works, you need to share a common server with a bot for it to be able to send messages to you. If you aren&#39;t receiving any, that means you&#39;re probably not in Wonderland yet. Just <a href="https://discord.gg/ktaPPtnPSn">join the server</a> and you should start receiving DMs.</p>
      <h4 id="i-get-an-_unknown-integration_-error-when-trying-to-run-a-command-">I get an <em>Unknown Integration</em> error when trying to run a command.</h4>
      <p>This can rarely happen, usually after the bot had to be restarted for an update. To fix it, simply restart the Discord client (by closing <em>from the tray icon</em> on PC, or hard-closing the app on mobile; then opening it again).</p>
      <hr>
      <h2 id="content">Content</h2>
      <h4 id="what-is-a-hidden-page-what-about-alias-es-removed-">What is a <code>hidden</code> page? What about <code>alias</code>es/<code>removed</code>?</h4>
      <p>Pages are marked <code>hidden</code> when, even though valid and non-404, they are essentially unimportant or irrelevant by themselves. As such, those usually aren&#39;t viewable through the explorer, nor they increment any page counters (including <a href="/">the global one here</a>).</p>
      <ul>
      <li>an <code>alias</code> functions as a copy of a canonical page. Let&#39;s say you have two pages, <code>morse.htm</code> and <code>morsecode.htm</code>, both with identical content. <code>morsecode.htm</code> (hidden) is marked as an alias of <code>morse.htm</code>. Thus, when you visit <code>morsecode.htm</code>, the system <em><strong>also</strong></em> registers an access for <code>morse.htm</code>. Therefore, aliases are used to prevent players from having to find superfluous/duplicated pages, and also avoids those polluting the explorer. </li>
      <li>a <code>removed</code> flag usually means that the page <em>used to be part of the level</em>, but not anymore. It can either be about a changed answer, an unreachable leftover, or just a plain 404.</li>
      </ul>
      <p>Besides the aforementioned cases, a page can also be a raw <code>hidden</code> instance, which usually means that it is (at least) one of the following:</p>
      <ul>
      <li>not even remotely interesting;</li>
      <li>requires the player to get something wrong by chance (e.g eggs for correcting spelling mistakes);</li>
      <li>made of randomized/repeated stuff (e.g a certain maze in Cipher&#39;s level 50);</li>
      <li>an alias-like redirect (which then doesn&#39;t need to marked as <code>alias</code>);</li>
      <li>a trivial redirect (like the countless <code>/folder/index.htm ➜ /folder/xyz.htm</code> ones).</li>
      </ul>
      <h4 id="i-ve-found-a-missing-page-do-i-need-to-report-it-">I&#39;ve found a missing page. Do I need to report it?</h4>
      <p>Generally, you don&#39;t. Any missing pages are added to the system as soon as someone finds them. Then, we (hopefully sooner than later) catalog those as part of their respective levels.</p>
      <p>If you do have a batch that you want to see cataloged ASAP, just reach one of our admins in <a href="https://discord.gg/ktaPPtnPSn">Wonderland</a>; they should be able to get things up-to-date for everyone.</p>
      <h4 id="i-want-to-see-riddle-x-on-r-">I want to see riddle X on <span style="font-family: old-english;">R</span>!</h4>
      <p>Likewise, just reach one of the admins. Be it if you just want to suggest a nice contender, or if you do have <em>finished</em> said riddle at some point, we&#39;d love to have your contribution. It&#39;s easier than one might think, and you&#39;ll be credited accordingly &mdash; if you wish so.</p>
      <hr>
      <h2 id="beginnings">Beginnings</h2>
      <p>Around early 2020, two brewed ideas started being applied for <em>Cipher: Crack the Code</em>: a <strong>Discord bot</strong>, and a <strong>dynamic website overhaul</strong>.</p>
      <ul>
      <li><a href="/static/old/bot.py">the bot</a> was born as a way to make the Cipher Discord server <em>riddle-aware</em>, by automatically setting up channels + roles and allowing players to run a <code>/unlock</code> command to get access to private level help channels, based on how far they were in the riddle.</li>
      <li><a href="/static/old/cipher-beta.png">the beta website</a> ran on a VPS and thus allowed stuff not available to simple static hosting: automated progress tracking, leaderboards, and so on. Some backend procedures were applied on every single level page access.</li>
      </ul>
      <p>The beta website never became a finished product (you can, however, still find traces of it in <a href="http://gamemastertips.com/cipher/style-new.css">Cipher&#39;s stylesheet</a>). The bot, on the other hand, became a staple around, and was later adapted to become the late RNS Riddle&#39;s server one (with no modifications bar name and avatar).</p>
      <p>One day, a simple idea came to mind: <a href="/static/old/birth-bot.png">what about expanding the bot to other Discord servers</a>? And what if we could apply whatever had been done for the Cipher&#39;s beta, but for <em>any suitable riddle</em>? Of course, we can&#39;t expect every riddle maker out there to simply remake their own webservers to implement the same funcionalities (can we...?). So there was probably a missing link to be found...</p>
      <p>The missing link, of course, <a href="/static/old/birth-extension.png">was a browser extension</a>. And the rest is history.</p>
      <h4 id="what-were-the-main-inspirations-">What were the main inspirations?</h4>
      <p>One of the main ones &mdash; as random as it might sound at first &mdash; was a certain project called <a href="https://retroachievements.org">RetroAchievements</a>; which, as the name implies, deals with adding achievements for old (console) games.</p>
      <p>Some of the similarities are pretty straightforward:</p>
      <ul>
      <li>Both have achievements (!);</li>
      <li>Both work by essentially setting up a shell over the third-party content itself (emulator module = extension) without having to toy with it directly (which would be impossible in most cases anyway);</li>
      <li>Both aim to revitalize an old format by creating an ecosystem/platform around it, and giving people new reasons to play (especially the most obscure entries).</li>
      </ul>
      <hr>
      <h4 id="when-will-version-1-0-finally-arrive-">When will version 1.0 finally arrive?</h4>
      <p>Whenever the project is stable and mature enough for it to be considered a <em>finished product</em>. As loosely stated at some point, this isn&#39;t an endeavor supposed to go on forever, and <code>1.0</code> is a good place for it to be labeled as <em><strong>done</strong></em>. Once that happens, the updates won&#39;t just cease &mdash; but rather, we will be able to take our time and focus primarily on content, quality-of-life enhancements and new tools.</p>
      <p>Until then, there are still several bugs in need of fixing and several important features waiting to see the light of the day. As of the time of the writing:</p>
      <ul>
      <li>profile pages;</li>
      <li>mobile-responsive website;</li>
      <li>a settings/tools tab for the extension;</li>
      <li>a riddles tab for moving across them directly from the extension (talk about way due);</li>
      <li>handy link lists containing all the unlocked pages in a single place (and a multi-export for all riddles as a <code>.zip</code>);</li>
      <li>[REDACTED]</li>
      </ul>
      <p><a href="https://github.com/EmoonX/riddler">The current codebase</a>, with <code>&gt;13k</code> lines of code and <code>&gt;1k</code> commits, is now robust enough in a way that we&#39;re <strong><em>much, much closer</em></strong> to the end of the journey than wherever we were at the beginning. And, while giving dates is always a messy subject... it should happen around <em>early 2026</em> or so.</p>
      <p>And then the boat should float by itself as a bastion for the years to come.</p>
      <h4 id="why-does-this-website-overall-look-so-eerily-similar-to-cipher-http-gamemastertips-com-cipher-cipher-htm-s-">Why does this website overall look so eerily similar to <a href="http://gamemastertips.com/cipher/cipher.htm">Cipher&#39;s</a>?</h4>
      <p>Because both were designed by the same person.</p>
      <hr>
    </main>
{% endblock %}