{% extends 'layout.htm' %}
{% block title %}Terms & Conditions ⬩ Riddler{% endblock %}
{% block content %}
    <main>
      <h1>Terms & Conditions</h1>

      <h2>Regarding online riddles</h2>
      <p>Riddler is built upon the content of online riddles, hosted by third parties outside <em>riddler.app</em>. Such content primarily includes name, logo, levels' images (small) thumbnails and unlocked pages (URLs). Think about it as a <em>dynamic catalog</em>.</p>
      <p>While the former three may be or not be copyrighted material, such usage falls under the <a href="https://en.wikipedia.org/wiki/Fair_use">fair use doctrine {% include 'util/external-link.htm' %}</a>. As such, the app <em>does not</em> legally or pragmatically require prior permission or awareness from said content owners.</p>
      <p>No recorded pages or URLs are openly visible until given player visits them directly on the external riddle domain itself. Therefore, no spoilery content exists publicly in <em>riddler.app</em>, ensuring the secrecy of all riddles' content and fair game to everyone.</p>

      <h2>Regarding players</h2>
      <p>Keep it simple and don't break anything.</p>
      <p>Riddler admins reserve the right to warn and act upon negative behavior.</p>

      <hr>

      <p>By using Riddler, extension and website — and the riddles covered by it — you hereby acknowledge and consent to the aforementioned Terms and Conditions.</p>
      <p style="text-align: right">― Riddler, 2025</p>
    </main>
{% endblock %}