{% extends 'layout.htm' %}
{% block title %}Terms & Conditions ⬩ Riddler{% endblock %}
{% block content %}
    <main>
      <h1>Terms & Conditions</h1>

      <h2>Regarding online riddles</h2>
      <p>Riddler is built upon the content of online riddles, hosted on third-party domains by their own creators. Such content primarily includes name, logo, levels' images (small) thumbnails, and unlocked pages (URLs).</p>
      <p>While the former three may be or not be copyrighted material, their usage falls under the <a href="https://en.wikipedia.org/wiki/Fair_use">fair use doctrine</a>, by common sense. As such, the app <em>does not</em> legally or pragmatically require prior permission or awareness from said content owners.</p>
      <p>As for URLs, no recorded pages are openly visible until given player reaches them on the external riddle domain itself. Therefore, no spoilery content exists publicly on <code>riddler.app</code>, ensuring the secrecy of all riddles' content and fair game to everyone.</p>

      <h2>Regarding players</h2>
      <p>Same golden rule as overall riddle play: you shall <em>not</em> openly share levels and page URLs (e.g in the form of a public walkthrough).</p>
      <p>Overly troll-ish behavior is also heavenly frowned upon, such as: intentionally rating every riddle level 1 heart; impersonating someone else, spamming on Wonderland (outside <code>#spam</code>, of course), etc.</code></p>
      <p>Riddler admins reserve the right to warn and act upon aforementioned behavior.</p>

      <hr>

      <p>By using Riddler, extension and website — and the riddles supported by it — you hereby acknowledge and consent to the aforementioned Terms and Conditions.</p>
      <p style="text-align: right">― Emoon, 2022</p>
    </main>
{% endblock %}