{% extends 'layout.htm' %}
{% block title %}{{ riddle['full_name'] }} | Leaderboard{% endblock %}
{% block content %}
    <main>
      <main>
        <h1>Leaderboard</h1>
        <section class="list players">
          {% set colors = ['goldenrod', 'silver', 'firebrick'] %}
        {% for player in accounts %}
          <div class="row">
            <div class="rank">
              {% if loop.index <= 3 %}
                {% set rank = '🥇🥈🥉'[loop.index - 1] %}
                {% set color = colors[loop.index - 1] %}
                {% set style = 'style="text-shadow: 0 0 8px %(c)s, 0 0 16px %(c)s, 0 0 24px %(c)s"'|safe % {'c': color} %}
              {% else %}
                {% set rank = '#' + loop.index|string %}
              {% endif %}
              <var {{ style }}>{{ rank }}</var>
            </div>
            <div class="player">
              <a href="url_for('account.profile', username=player['username'])">
                <img class="avatar" src="{{ get_avatar_url(player['username'], player['discriminator']) }}">
              </a>
              <div>
                {% set country_name = pycountries.get(alpha_2=player['country']).name %}
                <a class="username" href="url_for('account.profile', username=player['username'])">{{ player['username'] }}</a><!--
             --><a class="country" href="{{ player['country'] }}"><img class="flag" src="/static/flags/{{ player['country'] }}.png" title="{{ country_name }}"></a>
              </div>
            </div>
            <figure class="score">
              {% set score = player['score'] %}
              {% set zeroes = '0' * 6 %}
              <var class="points"><var class="zeroes">{{ zeroes }}</var>{{ score }}</var>
              <figcaption>points</figcaption>
            </figure>
            <figure class="current-level">
            {% if player['current_level'] != '🏆' %}
              <figcaption>Currently on</figcaption>
            {% endif %}
              <var>{{ player['current_level'] }}</var>
            </figure>
            {% set cheevos = get_achievements(riddle['alias'], player) %}
            <div class="cheevos">
              <figure>
                <figcaption>Achievements</figcaption>
                <div class="ranks">
                {% for rank in cheevos|reverse %}
                  {% if not cheevos[rank]|length %}
                    {% set disabled = "disabled" %}
                  {% endif %}
                  {% set color = cheevo_ranks[rank]['color'] %}
                  {% set emoji = cheevo_ranks[rank]['emoji'] %}
                  <var class="count {{ disabled }}" style="color: {{ color }}; text-shadow: 0 0 0.8em {{ color }}">
                    {{ cheevos[rank]|length }}<span class="emoji">{{ emoji }}</span>
                  </var>
                {% endfor %}
              </figure>
              <div class="thumbs">
              {% for rank in cheevos|reverse %}
                <div class="rank">
                {% for cheevo in cheevos[rank] %}
                  {% set points = cheevo_ranks[rank]['points'] %}
                  {% set size = cheevo_ranks[rank]['size'] %}
                  <img class="cheevo" src="/static/cheevos/{{ riddle['alias'] }}/{{ cheevo['image'] }}" title="[ {{ cheevo['title'] }} ] ({{ points }} points)&#10;&#10;{{ cheevo['description'] }}" style="width: {{ size }}px; height: {{ size }}px; border-color: {{ cheevo['color'] }}; box-shadow: 0 0 0.8em {{ cheevo['color'] }}" alt="{{ cheevo['title'] }}">
                {% endfor %}
                </div>
                {% if not loop.last and cheevos[rank] %}<hr>{% endif %}
              {% endfor %}
              </div>
            </div>
          </div>
        {% endfor %}
        </section>
      </main>
{% endblock %}
