{% extends 'layout.htm' %}
{% block title %}{{ riddle['full_name'] }} | Players{% endblock %}
{% block content %}
    <main>
      <h1>{{ riddle['full_name'] }}</h1>
      <table>
        <thead>
          <tr>
            <th>Country</th>
            <th>User</th>
            <th>Current level</th>
            <th>Points</th>
            <th>Achievements</th>
          </tr>
        </thead>
        {% set accounts = get_accounts(riddle['alias']) %}
        <tbody>
        {% for player in accounts.values() %}
          <tr>
            {% set country_name = pycountries.get(alpha_2=player['country']).name %}
            <td>
              <a href="{{ player['country'] }}">
                <img src="/static/flags/{{ player['country'] }}.png" title="{{ country_name }}" class="flag_small">
              </a>
            </td>
            <td class="username_cell">
              <img class="avatar-small" src="{{ get_avatar_url(player) }}">
              <a href="#">
                {{ player['username'] }}
              </a>
            <td>
              {% set current = player['current_level'] %}
              {% if current == 'END' %}
                {% set current = riddle['winner_suffix'] %}
              {% endif %}
              <var>{{ current }}</var>
            </td>
            <td>
              <var class="points">{{ player['score'] }}</var>
            </td>
            {% set cheevos = get_achievements(riddle['alias'], player) %}
            <td class="cheevo-cell">
          {% for rank in cheevos|reverse %}
            {% for cheevo in cheevos[rank] %}
              {% set color = cheevo_colors[rank] %}
              <img class="cheevo" src="/static/cheevos/{{ riddle['alias'] }}/{{ cheevo['image'] }}" title="[ {{ cheevo['title'] }} ] ({{ cheevo['rank'] }} points)&#10;&#10;{{ cheevo['description'] }}" style="border-color: {{ color }}; box-shadow: 0 0 0.8em {{ color }}" alt="{{ cheevo['title'] }}">
            {% endfor %}
          {% endfor %}
            </td>
          </tr>
        {% endfor %}
        <tbody>
      </table>
    </main>
{% endblock %}
