<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ alias }} | Riddle Bot Web UI</title>
  </head>
  <body>
    <form method="post">
      <table>
        <tr>
          <th>Level ID</th>
          <th>Filename</th>
        </tr>
      {% for level in levels %}
        <tr>
          <td><input type="text" value="{{ level['level_id'] }}"></td>
          <td><input type="text" value="{{ level['filename'] }}"></td>
        </tr>
      {% endfor %}
        <tr>
          <td><input type="text" name="new_id"></td>
          <td><input type="text" name="new_filename"></td>
        </tr>
      </table>
      <input type="submit" value="Save changes">
      <div class="msg">{{ msg }}</div>
    </form>
  </body>
</html>
