{% extends 'layout.htm' %}
{% block title %}{{ alias }} | Levels{% endblock %}
{% block extra %}
    <script src="/static/scripts/levels.js"></script>
    <script type="module" src="/static/scripts/explorer.js"></script>
    <script src="/static/scripts/rating.js"></script>
{% endblock %}
{% block content %}
    <main>
      <h1>Levels</h1>
      {% set total = 100 %}
      {% set accounts = get_accounts(alias) %}
    {% for set_name, set in levels.items() %}
    {% if set_name %}
      <h2>{{ set_name }}</h2>
    {% endif %}
      <section class="list levels">
      {% for level in set %}
        <div class="row">
          <div>
            <var class='name'>{{ level['name'] }}</var>
            {% if level['unlocked'] %}<div class="menu-button">☰</div>{% endif %}
          </div>
        {% if level['unlocked'] and level['image'] %}
          <div class="thumb">
            <a href="{{ url }}/{{ level['path'] }}">
              <img class="level" src="/static/thumbs/{{ alias }}/{{ level['image'] }}">
            </a>
          </div>
        {% else %}
          <div class="thumb">
            <img class="level" width="100" height="100" src="/static/images/locked.png">
          </div>
        {% endif %}
          <div class="rank">
            <figure>
            {% if level['beaten'] %}
              {% set number = 'DCBAS'.find(level['rank']) + 1 %}
              {% set info = level_ranks[level['rank']] %}
              <div style="color: {{ info['color'] }}; text-shadow: 0 0 0.5em {{ info['color'] }}">
              {% for i in range(number) %}
                {% set delay = 0.1 * i %}
                <span style="transition: transform 1s {{ delay }}s">★</span>
              {% endfor %}
              </div>
              <figcaption style="color: {{ info['color'] }}"><span class="rank-letter">{{ level['rank'] }}</span>-rank ({{ info['points'] }} points)</figcaption>
            {% else %}
              <div style="color: gray; text-shadow: 0 0 0.5em gray">
                ?
              </div>
              <figcaption style="color: gray"><span class="rank-letter">?</span>-rank (?? points)</figcaption>
            {% endif %}
            </figure>
          </div>
          <div class="info">
            <div class="completion">
              {% set count = level['completion_count'] %}
              {% set ratio = '%.1f%%' % (count / total * 100) %}
              <var>{{ count }}</var> player(s) completed (<var>{{ ratio }}</var>)
            </div>
          {% if level['beaten'] %}
            <figure class="rating">
              <div class="data">
                <var class='average'>{% if level['rating_avg'] %}{{ "%.1f" % level['rating_avg'] }}{% else %}--{% endif %}</var>
                {% set rating = 0 %}
                {% if level['rating_avg'] %}
                  {% set rating = level['rating_avg'] %}
                {% endif %}
                {% set rating = (2 * rating)|round(1) / 2 %}
                <div class='hearts'>
                {% for i in range(5) %}
                  {% if (i+1) <= rating %}
                    {% set s = 'full' %}
                  {% elif (i+1) - rating == 0.5 %}
                    {% set s = 'half' %}
                  {% else %}
                    {% set s = 'empty' %}
                  {% endif %}
                  <img class="heart" width="20" height="20" src="/static/icons/heart-{{ s }}.png" alt="Heart {{ s }}">
                {% endfor %}
                </div>
                <var class='count'>({{ level['rating_count'] }})</var>
              </div>
              <figcaption>Fun rating <span>{% if not level['rating_given'] %}(rate me!){% else %}(yours: <var>{{ level['rating_given'] }}</var>){% endif %}</span></figcaption>
            </figure>
          {% endif %}
          </div>
          <div class="currently-in">
          {% for user in level['users'] %}
            <div>
              {% set account = accounts[user['username']] %}
              <a href="#">
                <img width="50" height="50" class="avatar-small" src="{{ get_avatar_url(user['username'], user['discriminator']) }}" title="{{ account['username'] }}">
              </a>
            </div>
          {% endfor %}
          </div>
        </div>
      {% if level['unlocked'] %}
        <div class="page-explorer">
          {% set folder = s + '/' + level['path'].rsplit('/', 1)[0] %}
          <nav>
            <img width="40" height="40" class="folder-up" src="/static/icons/folderup.png"><div class="path"></div>
            <div class="completion"><span class="check">✅</span><var></var> files in this folder</div>
          </nav>
          <div class="files">
            <!-- JS will append files here -->
          </div>
        </div>
      {% endif %}
      {% endfor %}
      </section>
    {% endfor %}
    </main>
{% endblock %}