    <header>
      <nav>
        <div>
          <nav class="dropdown">
            <button class="nav-button">Lists</button>
            <div>
              <a href="{{ url_for('players.global_list') }}" class="nav-button">Players</a>
              <a href="#" class="nav-button">Countries</a>
            </div>
          </nav>
        </div>
        <div>
        {# Verify if user is logged in #}
        {% set user = get_session_user() %}
        {% if not user %}
          <a href="{{ url_for('players_auth.login') }}" class="nav-button">Login</a>
        {% else %}
          <nav class="dropdown">
            {% set avatar = '' %}
            <button class="nav-button profile-button">
              <img class="avatar-small" src="{{ get_avatar_url(user.username, user.discriminator) }}">{{ user.username }}
            </button>
            <div>
              <a href="#" class="nav-button">Public info</a>
              <a href="#" class="nav-button">Settings</a>
              <a href="{{ url_for('players_auth.logout') }}" class="nav-button">Logout</a>
            </div>
          </nav>
        {% endif %}
        </div>
      </nav>
    </header>
