{% extends 'layout.htm' %}
{% set riddle = get_riddle(alias) %}
{% block title %}🔒 Levels ⬩ {{ riddle['full_name'] }}{% endblock %}
{% block extra %}
<script type="module" src="/static/scripts/admin/admin.js"></script>
<script type="module" src="/static/scripts/explorer.js"></script>
{% endblock %}
{% block content %}
    <main>
      <h1>Levels</h1>
      <form method="post">
      {% for set_index, level_set in levels_by_set.items() %}
        {% set set_name = level_set[1]['level_set'] %}
        <h2>{{ set_name }}</h2>
        <section class="list levels admin">
        {% for index, level in level_set.items() %}
          {% if level['image'] %}
            {% set image = '/static/thumbs/' + alias + '/' + level['image'].rpartition('/')[-1] %}
          {% else %}
            {% set image = '/static/images/locked.png' %}
          {% endif %}
          {% include 'admin/level-row.htm' %}
        {% endfor %}
        </section>
        <section class="list levels admin new">
          <!-- New level rows go here -->
        </section>
        <button type="button" class="add" name="add-level" disabled>➕ Add level</button>
        {% if not loop.last %}<hr>{% endif %}
      {% endfor %}
        <input type="hidden" name="removed-pages">
        <div class='buttons'>
          <input type="file" name="pages" accept="text/plain" style="display:none">
          <button type="button" name="upload-pages">📁 Upload pages</button>
          <button type="submit" disabled>📝 Submit changes</button>
        </div>
        <div class="msg">{{ msg }}</div>
      </form>
    </main>
{% endblock %}
