<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ alias }} | Riddle Bot Web UI</title>
    <script src="/static/scripts/admin.js"></script>
  </head>
  <body>
    <form method="post">
      <h1>Levels</h1>
      <table>
        <tr>
          <th>Image</th>
          <th>Level ID</th>
          <th>Path</th>
          <th>Answer</th>
          <th>Rank</th>
          <th>Discord name</th>
        </tr>
      {% for level in levels %}
        <tr>
          <td>
            <img id="{{ loop.index }}-thumb" src="/static/thumbs/{{ alias }}/{{ level['image'] }}" height="100">
            <input type="file" id="{{ loop.index }}-input" class="thumb-input" name="{{ loop.index }}-image">
          </td>
          <td><input type="text" name="{{ loop.index }}-name" value="{{ level['name'] }}" required></td>
          <td><input type="text" name="{{ loop.index }}-path" value="{{ level['path'] }}" required></td>
          <td><input type="text" name="{{ loop.index }}-answer" value="{{ level['answer'] }}" required></td> 
          <td><input type="text" name="{{ loop.index }}-rank" value="{{ level['rank'] }}" required></td>
          <td><input type="text" name="{{ loop.index }}-discord_name" value="{{ level['discord_name'] }}"></td>
        </tr>
      {% endfor %}
        <tr>
          {% set index = levels|length + 1 %}
          <td>
            <img id="{{ index }}-thumb" src="" height="100">
            <input type="file" id="{{ index }}-input" class="thumb-input" name="{{ index }}-image" required>
          </td>
          <td><input type="text" name="{{ index }}-name" required></td>
          <td><input type="text" name="{{ index }}-path" required></td>
          <td><input type="text" name="{{ index }}-answer" required></td> 
          <td><input type="text" name="{{ index }}-rank" required></td>
          <td><input type="text" name="{{ index }}-discord_name" required></td>
        </tr>
      </table>
      <br>
      <input type="submit" value="Submit changes">
      <div class="msg">{{ msg }}</div>
    </form>
  </body>
</html>
