{% extends 'layout.htm' %}
{% block title %}🔑 {{ alias }} | Achievements{% endblock %}
{% block extra %}
<script type="module" src="/static/scripts/admin/admin.js"></script>
{% endblock %}
{% block content %}
    <main>
      <h1>Achievements</h1>
      <form method="post">
        <section class="list cheevos admin">
      {% for rank in cheevos|reverse %}
        {% for cheevo in cheevos[rank] %}
          {% set index = cheevo['index'] %}
          {% set image = '/static/cheevos/' + alias + '/' + cheevo['image'] %}
          {% include 'admin/cheevo-row.htm' %}
        {% endfor %}
      {% endfor %}
        </section>
        <hr>
        <section class="list cheevos admin new">
          <!-- New cheevo rows go here -->
        </section>
        <div class='buttons'>
          <button type="button" name="add-cheevo">➕ Add achievement</button>
          <button type="submit">📝 Submit changes</button>
        </div>
        <div class="msg">{{ msg }}</div>
      </form>
    </main>
{% endblock %}
