{% extends 'layout.htm' %}
{% block title %}🔑 {{ alias }} | Levels{% endblock %}
{% block extra %}
<script type="module" src="/static/scripts/admin/admin.js"></script>
<script type="module" src="/static/scripts/explorer.js"></script>
{% endblock %}
{% block content %}
    <main>
      <form method="post">
        <h1>Levels</h1>
        <section class="list levels admin">
        {% for level in levels %}
          {% set index = loop.index %}
          {% set image = '/static/thumbs/' + alias + '/' + level['image'] %}
          {% include 'admin/level-row.htm' %}
        {% endfor %}
        </section>
        <hr>
        <section class="list levels admin new">
          <!-- New level rows go here -->
        </section>
        <div class='buttons'>
          <input type="file" name="pages" accept="text/plain" style="display:none">
          <button type="button" name="upload-pages">📁 Upload pages</button>
          <button type="button" name="add-level">➕ Add new level</button>
          <button type="submit">📝 Submit changes</button>
        </div>
        <div class="msg">{{ msg }}</div>
      </form>
    </main>
{% endblock %}
