<div class="row">
  <div>
    <label class="key">
      Level
      <input type="text" name="{{ index }}-name" size="2" value="{{ level['name'] }}" required>
    </label>
    <var class="menu">☰</var>
  </div>
  <div>
    <img id="{{ index }}-thumb" class="thumb level" src="{{ image }}">
    <input type="file" id="{{ index }}-input" class="thumb-input" accept="image/*">
    <input type="hidden" name="{{ index }}-image" value="{{ level['image'] }}">
    <input type="hidden" name="{{ index }}-imgdata">
  </div>
  <div>
    <label>
      Front page path
      <input type="text" class="front-path" name="{{ index }}-path" size="15" value="{{ level['path'] }}" required>
    </label>
    <label>
      Answer path
      <input type="text" class="answer-path" name="{{ index }}-answer" size="15" value="{{ level['answer'] }}" required>
    </label>
  </div> 
  <div>
    <fieldset class="rank" title="Select rank according to achievement's difficulty or importance.&#10;&#10;[🥉] 'Dumb' and/or easy-to-reach cheevos;&#10;[🥈] Substancial ones that require creativity and/or out-of-the-box thinking;&#10;[🥇] Good challenges like secret levels or very well hidden eggs;&#10;[💎] Should be reserved for the best among the best (like reaching a vital game's landmark).">
      <legend>Rank</legend>
    {% for rank, info in level_ranks.items()|reverse %}
      <label style="color: {{ info['color'] }}">
        {% if rank == level['rank'] %}
          {% set checked = "checked" %}
        {% endif %}
        <input type="radio" class="rank-radio" name="{{ index }}-rank" value="{{ rank }}" {{ checked }} required>
        {{ rank }}<!--
    --></label>
    {% endfor %}
    </fieldset>
  </div>
  <div>
    <label>
      Discord name
      <input type="text" name="{{ index }}-discord_name" size="2" value="{{ level['discord_name'] }}">
    </label>
  </div>
</div>
{% set folder_path = '/' %}
{% if level %}
  {% set folder_path = '/' + level['path'].rsplit('/', 1)[0] + '/' %}
{% endif %}
{% set folder = folders[folder_path] %}
<div class="page-explorer" data-files_total="{{ folder['files_total'] }}" data-folders="{{ folders }}">
  <nav>
    <img width="40" height="40" class="folder-up" src="/static/icons/folderup.png"><div class="path">{{ folder_path }}</div>
    <div class="completion"><var>{{ folder['files_total'] }}</var> files in this folder</div>
  </nav>
  <div class="files">
  {% for row in folder['files'] %}
    {# Get icon name based on extension #}
    {% set page = row['page'] %}
    {% if page[-4] == '.' %}
      {% set name = page[-3:] %}
    {% elif page[-5:] == '.html' %}
    {% set name = 'htm' %}
    {% else %}
      {% set name = 'folder' %}
    {% endif %}
    {# Set figure as active if page is from this level #}
    {% if name != 'folder' and row['level_name'] == level['name'] %}
      {% set current = 'class="current"'|safe %}
    {% endif %}
    <figure {{ current }} title="{{ row['path'] }}">
      <img width="50" height="50" src="/static/icons/{{ name }}.png">
      <figcaption>{{ page }}</figcaption>
    </figure>
  {% endfor %}
  </div>
</div>