{% extends 'layout.htm' %}
{% if country %}
  {% set flag = get_emoji_flag(country) %}
  {% set flag_title = flag + ' ⬩ ' %}
  {% set flag_html = (' ⬩ <span class="flag">' + flag + '</span>')|safe %}
{% endif %}
{% block title %}{{ flag_title }}Global Leaderboard ⬩ Riddler{% endblock %}
{% block content %}
    <main>
      <h1>Global Leaderboard</h1>
      <section class="list players">
        {% set user = get_session_user() %}
        {% set avatar_urls = get_all_avatar_urls() %}
        {% set riddles = fetch_riddles() %}
        {% set colors = ['goldenrod', 'silver', 'firebrick'] %}
        {% set badges = {'created': '👑', 'mastered': '💎', 'completed': '🏅'} %}
      {% for username, player in accounts.items() %}
        <div class="row">
          <div class="rank">
            {% if loop.index <= 3 %}
              {% set rank = '🥇🥈🥉'[loop.index - 1] %}
              {% set color = colors[loop.index - 1] %}
              {% set style = 'style="text-shadow: 0 0 8px %(c)s, 0 0 16px %(c)s, 0 0 24px %(c)s"'|safe % {'c': color} %}
            {% else %}
              {% set rank = '#' + loop.index|string %}
            {% endif %}
            <var {{ style }}>{{ rank }}</var>
          </div>
          <div class="player">
            <a href="#">
              {% set url = avatar_urls[username] or '/static/images/locked.png' %}
              <figure style="position: relative; display: inline-block;">
                <img class="avatar-small" src="{{ url }}" alt="Avatar">
              {% if player['username'] == user.name and player['has_incognito_progress'] %}
                <img class="incognito" src="/static/icons/incognito.png" alt="Incognito" title="Includes your own incognito progress. Public view may differ.">
              {% endif %}
              </figure>
            </a>
            <div>
              {% set name = player['display_name'] or username %}
              {% set color = get_score_ranked_color(player) %}
              {% set country_name = country_names[player['country']] %}
              <a class="username" href="#" style="color: {{ color }}; text-shadow: 0 0 1em {{ color }}">{{ name }}</a><!--
           --><a class="country" href="/players/{{ player['country'] }}" title="{{ country_name }}"><img class="flag" src="/static/flags/{{ player['country'] }}.png"></a>
            </div>
          </div>
          <figure class="score">
            {% set score = player['global_score'] %}
            {% set zeroes = '0' * 6 %}
          {% if player['recent_score'] %}
            <span class="recent-score">⇪{{ player['recent_score'] }}</span>
          {% endif %}
            <var class="points">
              <var class="zeroes">{{ zeroes }}</var>{{ score }}
            </var>
            <figcaption>total points</figcaption>            
          </figure>
          <div class="honors hoverable-figures">
      {% set honors_extra = namespace(
        count=0,
        total_count=0,
        progress=[],
      ) %}
      {% for honor in ['created', 'mastered', 'completed', 'other'] %}
        {% set honors_extra.count = 0 %}
        {% for riddle in player[honor ~ '_riddles'] %}
          {% set honors_extra.total_count = honors_extra.total_count + 1 %}
          {% if honors_extra.total_count <= 14 %}
            {% set icon_url = riddles[riddle['alias']]['icon_url'] %}
            {% set progress = '%s'|safe % riddle['full_name'] %}
            {% if honor != 'other' %}
              {% set s = honor.upper() if honor != 'created' else 'CREATOR' %}
              {% set progress = '%s<br>(%s)'|safe % (progress, s) %}
              {% set badge = badges[honor] %}
            {% else %}
              {% set current_level = player['current_level'][riddle['alias']] %}
              {% set progress = '%s<br>(currently on %s)'|safe % (progress, current_level) %}
            {% endif %}
            <a class="honor {{ honor }}" href="{{ url_for('players.riddle_list', alias=riddle['alias']) }}">
              <figure>
                <span class='badge'>{{ badge }}</span>
                <img class="riddle-icon" src="{{ icon_url }}">
                <figcaption>{{ progress }}</figcaption>
              </figure>
            </a>
          {% else %}
            {% set honors_extra.count = honors_extra.count + 1 %}
          {% endif %}
        {% endfor %}
        {% if honors_extra.count %}
          {% set progress = badges[honor] ~ ' ' ~ honors_extra.count ~ ' ' ~ honor %}
          {% set honors_extra.progress = honors_extra.progress + [progress] %}
        {% endif %}
      {% endfor %}
          {% if honors_extra.progress %}
            <a class="honor" href="#">
              <figure>
                <div class='riddle-icon'>...</div>
                <figcaption>Additionally:<br>{{ ', '.join(honors_extra.progress)|safe }}</figcaption>
              </figure>
            </a>
          {% endif %}
          </div>
        </div>
      {% endfor %}
      </section>
    </main>
{% endblock %}
