{% extends 'layout.htm' %}
{% set flag = '🗺️' %}
{% if country %}
  {% set flag = get_emoji_flag(country) %}
{% endif %}
{% set flag_html = ('<span class="flag">' + flag + '</span> | ')|safe %}
{% block title %}{{ flag }} | Global leaderboard{% endblock %}
{% block content %}
    <main>
      <h1>{{ flag_html }}Global leaderboard</h1>
      <section class="list players">
        {% set avatar_urls = fetch_avatar_urls() %}
        {% set riddles = fetch_riddles() %}
        {% set colors = ['goldenrod', 'silver', 'firebrick'] %}
      {% for player in accounts %}
        <div class="row">
          <div class="rank">
            {% if loop.index <= 3 %}
              {% set rank = '🥇🥈🥉'[loop.index - 1] %}
              {% set color = colors[loop.index - 1] %}
              {% set style = 'style="text-shadow: 0 0 8px %(c)s, 0 0 16px %(c)s, 0 0 24px %(c)s"'|safe % {'c': color} %}
            {% else %}
              {% set rank = '#' + loop.index|string %}
            {% endif %}
            <var {{ style }}>{{ rank }}</var>
          </div>
          <div class="player">
            <a href="#">
              {% set tag = player['username'] + '#' + player['discriminator'] %}
              <img class="avatar" src="{{ avatar_urls[tag] }}">
            </a>
            <div>
              {% set country_name = pycountries.get(alpha_2=player['country']).name %}
              <a class="username" href="#">{{ player['username'] }}</a><!--
           --><a class="country" href="/players/{{ player['country'] }}"><img class="flag" src="/static/flags/{{ player['country'] }}.png" title="{{ country_name }}"></a>
            </div>
          </div>
          <figure class="score">
            {% set score = player['global_score'] %}
            {% set zeroes = '0' * 6 %}
            <var class="points"><var class="zeroes">{{ zeroes }}</var>{{ score }}</var>
            <figcaption>total points</figcaption>
          </figure>
          <div class="honors">
          {% for riddle in player['mastered_riddles'] %}
            {% set icon_url = riddles[riddle['alias']]['icon_url'] %}
            <a class="completed mastered" href="{{ url_for('players.riddle_list', alias=riddle['alias']) }}" title="{{ riddle['full_name'] }} (MASTERED)">
              <img class="riddle-icon" src="{{ icon_url }}">
            </a>
          {% endfor %}
          {% for riddle in player['completed_riddles'] %}
            {% set icon_url = riddles[riddle['alias']]['icon_url'] %}
            <a class="completed" href="{{ url_for('players.riddle_list', alias=riddle['alias']) }}" title="{{ riddle['full_name'] }} (completed)">
              <img class="riddle-icon" src="{{ icon_url }}">
            </a>
          {% endfor %}
          </div>
        </div>
      {% endfor %}
      </section>
    </main>
{% endblock %}
