{% set no_navbar = True %}
{% extends 'layout.htm' %}
{% block title %}Riddler | Registration{% endblock %}
{% block extra %}
    <script src="/static/scripts/settings.js"></script>
{% endblock %}
{% block content %}
    <main>
      <h1>Registration</h1>
      <form method="post">
        <fieldset>
          <legend>Personal info</legend>
          <div>
            <label class="icon"> Discord username
              <input type="text" name="discord_username" value="{{ user.name }}" readonly>
            </label>
            <label>Country
              <select name="country" required>
                <option disabled>-- Choose your country --</option>
                {% for short_name, alpha_2 in get_sorted_countries() %}
                <option value="{{ alpha_2 }}">{{ short_name }}</option>
              {% endfor %}
              </select>
            </label>
            <figure class="flag">
              <img alt="">
              <figcaption></figcaption>
            </figure>
          </div>
        </fieldset>
        <input type="submit" value="Create account">
      </form>
      <footer>{{ msg }}</footer>
    </main>
{% endblock %}
