{% extends 'layout.htm' %}
{% set country = get_user_country() %}
{% block title %}Settings{% endblock %}
{% block extra %}
    <script src="/static/scripts/settings.js"></script>
{% endblock %}
{% block content %}
    <main>
      <h1>Settings</h1>
      <section class="settings">
        <form method="post">
          <fieldset>
            <legend>Account info</legend>
              <label class="icon" style="font-size: .6em;">
                Discord username
                <input type="text" name="discord_username" value="{{ user.name }}" readonly style="color: gray;">
              </label>
              <label style="font-size: .6em;">
                Country
                <input type="hidden" id="selected" value="{{ country }}">
                <select name="country" required>
                  <option disabled>-- Choose your country --</option>
                {% for short_name, alpha_2 in get_sorted_countries() %}
                  <option value="{{ alpha_2 }}">{{ short_name }}</option>
                {% endfor %}
                </select>
              </label>
              <hr style="margin: 0;">
              <label style="display: flex; align-items: center; gap: .5em;">
                <img src="/static/icons/incognito.png" alt="Incognito" style="height: .9em;">
                Incognito mode
                <input type="checkbox" name="incognito" style="margin: 0;" {% if is_user_incognito() %}checked{% endif %}>
              </label>
              <p style="font-size: .6em;">
                Hide your public presence from the prying eyes. Once enabled (and until you disable it), your newer progress won't figure in the homepage's <code><em>Recent activity</em></code> section, and your current standings in the site-wide leaderboards will appear as frozen for anyone besides you. <em>Old progress is <strong>unnafected</strong></em>.
              </p>
              <p style="font-size: .6em;">
                A <img src="/static/icons/incognito.png" alt="Incognito" style="width: 1em;"> over your profile picture on the top right means incognito is <strong>active</strong> at the moment.
              </p>
              <hr style="margin: 0;">
              <input type="submit" value="Update" style="font-size: .7em !important;">
            </form>
          </fieldset>
        </form>
        <fieldset>
          <legend>Export account data</legend>
          <p>You can export your personal account/riddle data, including all visited levels and pages, in one of the formats given below.</p>
          <div class="export-buttons">
            <button onclick="location.href='/account/export-data?format=json'">JSON</button>
            <button onclick="location.href='/account/export-data?format=csv'" disabled>CSV</button>
            <button onclick="location.href='/account/export-data?format=html'" disabled>HTML</button>
          </div>
        </fieldset>
      </section>
    </main>
    <footer style="margin: 1em;">{{ msg }}</footer>
{% endblock %}
