{% extends 'layout.htm' %}
{% set riddle = get_riddle(alias) %}
{% if country %}
  {% set flag = get_emoji_flag(country) %}
  {% set flag_title = flag + ' ⬩ ' %}
  {% set flag_html = (' ⬩ <span class="flag">' + flag + '</span>')|safe %}
{% endif %}
{% block title %}{{ flag_title }}Leaderboard ⬩ {{ riddle['full_name'] }}{% endblock %}
{% block content %}
    <main>
      <main>
        <h1>Leaderboard{{ flag_html }}</h1>
        <section class="list players">
          {% set avatar_urls = get_all_avatar_urls(riddle['guild_id']) %}
          {% set colors = ['goldenrod', 'silver', 'firebrick'] %}
      {% for player in accounts + [creator_account] if player %}
        {% if loop.index > accounts|length %}
          {% set rank = '👑' %}
          {% set color = 'crimson' %}
          {% set style = 'style="text-shadow: 0 0 8px %(c)s, 0 0 16px %(c)s, 0 0 24px %(c)s"'|safe % {'c': color} %}
          <hr>
        {% endif %}
          <div class="row">
            <div class="rank">
              {% if loop.index <= 3 and loop.index <= accounts|length %}
                {% set rank = '🥇🥈🥉'[loop.index - 1] %}
                {% set color = colors[loop.index - 1] %}
                {% set style = 'style="text-shadow: 0 0 8px %(c)s, 0 0 16px %(c)s, 0 0 24px %(c)s"'|safe % {'c': color} %}
              {% elif loop.index <= accounts|length %}
                {% set rank = '#' + loop.index|string %}
              {% endif %}
              <var {{ style }}>{{ rank }}</var>
            </div>
            <div class="player">
              <a href="#">
                {% set url = avatar_urls[player['username']] or '/static/images/locked.png' %}
                <img class="avatar" src="{{ url }}">
              </a>
              <div>
                {% set name = player['display_name'] or player['username'] %}
                {% set color = get_score_ranked_color(player) %}
                {% set country_name = country_names[player['country']] %}
                <a class="username" href="#" style="color: {{ color }}; text-shadow: 0 0 1em {{ color }}">{{ name }}</a><!--
             --><a class="country" href="/{{ alias }}/players/{{ player['country'] }}" title="{{ country_name }}"><img class="flag" src="/static/flags/{{ player['country'] }}.png"></a>
              </div>
            </div>
            <div class="current-levels">
              <div class="levels">
          {% if player['current_level'] == '💎' %}
                <div class="wrapper">
                  {% set tooltip = '❖ Mastered {0}&#10;'.format(riddle['full_name']) %}
                  {% set tooltip = tooltip + '⮚ Date of mastery: {0}'.format(player['mastered_on']) %}
                  <div class="milestone mastered" title="{{ tooltip|safe }}">
                    💎
                  </div>
                </div>
          {% else %}
            {% for level in player['current_level'] %}
              {% if loop.index > 1 %}
                <div class="separator">⬩</div>
              {% endif %}
              {% if level in player['completed_milestones'] %}
                {% set completion_time = player['completed_milestones'][level]['completion_time'] %}
                {% if sets_by_final_level[level] %}
                  {% set set_name = sets_by_final_level[level]['name'] %}
                  {% set set_emoji = sets_by_final_level[level]['emoji'] %}
                  {% set tooltip = '⮞ Finished {0}&#10;'.format(set_name) %}
                {% endif %}
                {% set tooltip = (tooltip or '') + '⮚ Completed level {0} on {1}'.format(level, completion_time) %}
                {% set title = 'title="{0}"'.format(tooltip) %}
              {% endif %}
                <div class="wrapper">
                {% if player['current_level']|length > 1 %}
                  {% set small = ' small' %}
                {% endif %}
                {% if set_emoji %}
                  <div class="milestone{{ small }}" {{ title|safe }}>
                    {{ set_emoji }}
                  </div>
                {% else %}
                  {% set level_name = level %}
                  {% include 'util/level-name.htm' %}
                {% endif %}
                </div>
            {% endfor %}
          {% endif %}
              </div>
            </div>
            <figure class="score">
              {% set score = player['score'] %}
              {% set zeroes = '0' * 6 %}
            {% if player['recent_score'] %}
              <span class="recent-score">⇪{{ player['recent_score'] }}</span>
            {% endif %}
              <var class="points"><var class="zeroes">{{ zeroes }}</var>{{ score }}</var>
              <figcaption>points</figcaption>
            </figure>
            {% set cheevos = player['cheevos'] %}
            <div class="cheevos">
              <figure>
                <figcaption>Achievements</figcaption>
                <div class="ranks">
                {% for rank in cheevos|reverse %}
                  {% if not cheevos[rank]|length %}
                    {% set disabled = " disabled" %}
                  {% endif %}
                  {% set color = cheevo_ranks[rank]['color'] %}
                  {% set emoji = cheevo_ranks[rank]['emoji'] %}
                  <var class="count{{ disabled }}" style="color: {{ color }}; text-shadow: 0 0 0.8em {{ color }}">
                    {{ cheevos[rank]|length }}<span class="emoji">{{ emoji }}</span>
                  </var>
                {% endfor %}
                </div>
              </figure>
              <div class="thumbs">
            {% for rank in cheevos|reverse if cheevos[rank] %}
                <div class="rank">
                {% set points = cheevo_ranks[rank]['points'] %}
                {% set color = cheevo_ranks[rank]['color'] %}
                {% set size = cheevo_ranks[rank]['size'] %}
              {% for cheevo in cheevos[rank] %}
                  <img class="cheevo" src="/static/cheevos/{{ riddle['alias'] }}/{{ cheevo['image'] }}" title="[ {{ cheevo['title'] }} ] ({{ points }} points)&#10;&#10;&quot;{{ cheevo['description'] }}&quot;" style="width: {{ size }}px; height: {{ size }}px; border-color: {{ color }}; box-shadow: 0 0 0.8em {{ color }}" alt="{{ cheevo['title'] }}">
              {% endfor %}
                </div>
              {% if not loop.last %}
                <hr>
              {% endif %}
            {% endfor %}
              </div>
            </div>
            <figure class="page-count">
              <div>
                <var class="count">{{ player['page_count'] }}</var>
              {% if player['page_count'] == page_count %}
                <div class="all-pages" title="Found every single page">💮</div>
              {% endif %}
              </div>
              <figcaption>pages found</figcaption>
            </figure>
          </div>
      {% endfor %}
        </section>
      </main>
{% endblock %}
