{% extends 'layout.htm' %}
{% set riddle = get_riddle(alias) %}
{% set flag = '🗺️' %}
{% if country %}
  {% set flag = get_emoji_flag(country) %}
{% endif %}
{% set flag_html = ('<span class="flag">' + flag + '</span> | ')|safe %}
{% block title %}{{ flag }} | Leaderboard | {{ riddle['full_name'] }}{% endblock %}
{% block content %}
    <main>
      <main>
        <h1>{{ flag_html }}Leaderboard</h1>
        <section class="list players">
          {% set avatar_urls = fetch_avatar_urls(riddle['guild_id']) %}
          {% set colors = ['goldenrod', 'silver', 'firebrick'] %}
        {% for player in accounts %}
          <div class="row">
            <div class="rank">
              {% if loop.index <= 3 %}
                {% set rank = '🥇🥈🥉'[loop.index - 1] %}
                {% set color = colors[loop.index - 1] %}
                {% set style = 'style="text-shadow: 0 0 8px %(c)s, 0 0 16px %(c)s, 0 0 24px %(c)s"'|safe % {'c': color} %}
              {% else %}
                {% set rank = '#' + loop.index|string %}
              {% endif %}
              <var {{ style }}>{{ rank }}</var>
            </div>
            <div class="player">
              <a href="#">
                {% set tag = player['username'] + '#' + player['discriminator'] %}
                <img class="avatar" src="{{ avatar_urls[tag] }}">
              </a>
              <div>
                {% set country_name = pycountries.get(alpha_2=player['country']).name %}
                <a class="username" href="#">{{ player['username'] }}</a><!--
             --><a class="country" href="/{{ alias }}/players/{{ player['country'] }}"><img class="flag" src="/static/flags/{{ player['country'] }}.png" title="{{ country_name }}"></a>
              </div>
            </div>
            <figure class="current-level">
            {% if player['current_level'] not in ('💎', '🏅') %}
              <figcaption>Currently on</figcaption>
            {% elif player['current_level'] == '💎' %}
              {% set style_mastered = 'style="text-shadow: 0 0 0.4em teal, 0 0 0.8em teal, 0 0 1.2em teal;"'|safe %}
            {% endif %}
              <var {{ style_mastered }}>{{ player['current_level'] }}</var>
            </figure>
            <figure class="score">
              {% set score = player['score'] %}
              {% set zeroes = '0' * 6 %}
              <var class="points"><var class="zeroes">{{ zeroes }}</var>{{ score }}</var>
              <figcaption>points</figcaption>
            </figure>
            {% set cheevos = get_achievements(riddle['alias'], player) %}
            <div class="cheevos">
              <figure>
                <figcaption>Achievements</figcaption>
                <div class="ranks">
                {% for rank in cheevos|reverse %}
                  {% if not cheevos[rank]|length %}
                    {% set disabled = "disabled" %}
                  {% endif %}
                  {% set color = cheevo_ranks[rank]['color'] %}
                  {% set emoji = cheevo_ranks[rank]['emoji'] %}
                  <var class="count {{ disabled }}" style="color: {{ color }}; text-shadow: 0 0 0.8em {{ color }}">
                    {{ cheevos[rank]|length }}<span class="emoji">{{ emoji }}</span>
                  </var>
                {% endfor %}
              </figure>
              <div class="thumbs">
              {% for rank in cheevos|reverse %}
                <div class="rank">
                {% for cheevo in cheevos[rank] %}
                  {% set points = cheevo_ranks[rank]['points'] %}
                  {% set size = cheevo_ranks[rank]['size'] %}
                  <img class="cheevo" src="/static/cheevos/{{ riddle['alias'] }}/{{ cheevo['image'] }}" title="[ {{ cheevo['title'] }} ] ({{ points }} points)&#10;&#10;&quot;{{ cheevo['description'] }}&quot;" style="width: {{ size }}px; height: {{ size }}px; border-color: {{ cheevo['color'] }}; box-shadow: 0 0 0.8em {{ cheevo['color'] }}" alt="{{ cheevo['title'] }}">
                {% endfor %}
                </div>
                {% if not loop.last and cheevos[rank] %}<hr>{% endif %}
              {% endfor %}
              </div>
            </div>
            <figure class="page-count">
              {% set count = player['page_count'] %}
              <var class="count">{{ count }}</var>
              <figcaption>pages found</figcaption>
            </figure>
          </div>
        {% endfor %}
        </section>
      </main>
{% endblock %}
